JWT_SECRET=troque_essa_senha
ADMIN_EMAIL=admin@lordsmp.com
ADMIN_PASSWORD=123456
PLUGIN_SECRET=mesmo_token_do_plugin
NEXT_PUBLIC_DISCORD=https://discord.gg/GXQSeXK9KN
NEXT_PUBLIC_SERVER_IP=lordsmp.blazebr.xyz
